* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html,
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

Line {
  width: 200px;
  height: 100px;
}
